{% extends 'capsule/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
    <h1>{{ item.name }}</h1>
    <p><strong>Brand:</strong> {{ item.brand }}</p>
    <p><strong>Size:</strong> {{ item.get_size_display }}</p>
    <p><strong>Color:</strong> {{ item.color }}</p>
    <p><strong>Dominant Color:</strong></p>
    <div style="width: 50px; height: 50px; background-color: {{ item.dominant_color }};"></div>
    <img src="{{ item.image.url }}" alt="{{ item.name }}" style="width: 300px; height: auto;"> <!-- Larger image -->
    <a href="{% url 'delete_item' item.id %}" class="btn btn-danger">Delete Item</a>
{% endblock %}