<div class="list-group">
    {% for category in categories %}
        <a href="{% url 'category_items' category.id %}" class="list-group-item list-group-item-action category-item">
            {{ category.name }}
        </a>
        <div class="subcategory-list" style="display: none;">
            {% for subcategory in category.subcategories.all %}
                <a href="{% url 'subcategory_items' subcategory.id %}" class="list-group-item list-group-item-action ml-3">
                    {{ subcategory.name }}
                </a>
            {% endfor %}
        </div>
    {% endfor %}
</div>